body{
    min-height: 100vh;
    background-color: #F1F0E9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #B5828C;
    color: aliceblue;
    border-radius: 2em;
    padding: 4em 3em;
    width: 60%;
}
hr{
    width: 100%;
    background-color: rgba(240, 248, 255, 0.551);
    height: 3px;
    border-radius: 1em;
    border: none;
}
.timer{
    font-size: 6em;
    font-weight: 700;
}
button{
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    transform: translateY(-5px);

}
#start{
    background-color:#A5B68D;
}
#stop{
    background-color:#761f1f;
}
#reset{
    background-color:#ADB2D4;
}
.btn{
    background-color: #a0747d;
}